In [ ]:
import pandas as pd

In [ ]:
url = 'https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2015/06/phone_data.csv'
df = pd.read_csv(url)
df

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
1        1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2        2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3        3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4        4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[830 rows x 7 columns]

In [ ]:
df.groupby("month")["duration"].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: duration, dtype: int64

In [ ]:
df.groupby("month")["duration"].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [ ]:
operations = {
    "duration": "mean",
    "network_type": "count",
    "date" : "first"
}

df.groupby(["month", "item"]).agg(operations)

                duration  network_type            date
month   item
2014-11 call  238.757009           107  15/10/14 06:58
        data   34.429000            29  15/10/14 06:58
        sms     1.000000            94  16/10/14 22:18
2014-12 call  171.658228            79  14/11/14 17:24
        data   34.429000            30  13/11/14 06:58
        sms     1.000000            48  14/11/14 17:28
2015-01 call  193.977273            88  15/12/14 20:03
        data   34.429000            31  13/12/14 06:58
        sms     1.000000            86  15/12/14 19:56
2015-02 call  215.164179            67  15/01/15 10:36
        data   34.429000            31  13/01/15 06:58
        sms     1.000000            39  15/01/15 12:23
2015-03 call  462.276596            47  12/02/15 20:15
        data   34.429000            29  13/02/15 06:58
        sms     1.000000            25  19/02/15 18:46

In [ ]:
operations = {
    "duration": ["mean", "sum"],
    "network_type": "count",
    "date" : ["first", "nunique"]
}

df.groupby(["month", "item"]).agg(operations)

                duration            network_type            date
                    mean        sum        count           first nunique
month   item
2014-11 call  238.757009  25547.000          107  15/10/14 06:58     104
        data   34.429000    998.441           29  15/10/14 06:58      29
        sms     1.000000     94.000           94  16/10/14 22:18      79
2014-12 call  171.658228  13561.000           79  14/11/14 17:24      76
        data   34.429000   1032.870           30  13/11/14 06:58      30
        sms     1.000000     48.000           48  14/11/14 17:28      41
2015-01 call  193.977273  17070.000           88  15/12/14 20:03      84
        data   34.429000   1067.299           31  13/12/14 06:58      31
        sms     1.000000     86.000           86  15/12/14 19:56      58
2015-02 call  215.164179  14416.000           67  15/01/15 10:36      67
        data   34.429000   1067.299           31  13/01/15 06:58      31
        sms     1.000000     39.000           39  15/01/15 12:23      27
2015-03 call  462.276596  21727.000           47  12/02/15 20:15      47
        data   34.429000    998.441           29  13/02/15 06:58      29
        sms     1.000000     25.000           25  19/02/15 18:46      17

In [2]:
gb = df.groupby("month").apply(lambda x: (x["duration"] >= 1000))
df[gb.values == True]

NameError: ignored